@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
:root {
  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-sm: 400;
  --fw-md: 500;
  --fw-lg: 700;
  --size-100: 0.8rem;
  --size-200: 1.2rem;
  --size-300: 1.6rem;
  --size-400: 2rem;
  --size-500: 2.4rem;
  --size-600: 2.8rem;
  --size-700: 3.2rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 67em) {
  html {
    font-size: 50%;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: var(--ff-body);
  color: hsl(228, 39%, 23%);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: smooth;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p:not([class]) {
  max-width: 31.5ch;
  opacity: 0.7;
}
@media only screen and (max-width: 50em) {
  p:not([class]) {
    margin-inline: auto;
    font-size: 2.5rem;
    text-align: left;
    max-width: 31ch;
    line-height: 1.7;
    --flow-space: 1em;
  }
}
@media only screen and (max-width: 30.5em) {
  p:not([class]) {
    font-size: 2.3rem;
    line-height: 1.9;
  }
}

p[data-width=wide] {
  max-width: 99%;
}

p[data-width=wide-2] {
  max-width: 80%;
  display: inline-block;
}
@media only screen and (max-width: 50em) {
  p[data-width=wide-2] {
    text-align: center;
    max-width: 95%;
    font-size: 2.2rem;
  }
}

.btn {
  border: 0;
  border-radius: 100vmax;
  font-weight: var(--fw-lg);
  font-size: 1.3rem;
  line-height: 1;
  padding: 1.25em 2.5em;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1.125em 1em -1em hsl(12, 88%, 40%);
  text-decoration: none;
  display: inline-flex;
}
@media only screen and (max-width: 50em) {
  .btn {
    padding: 1.2em 2.5em;
    font-size: 2rem;
  }
}
.btn--primary {
  color: hsl(0, 0%, 98%);
  background-color: hsl(12, 88%, 59%);
}
.btn--primary[data-shadow=none] {
  box-shadow: none;
  padding: 1.5em 2.5em;
}
.btn--primary:hover, .btn--primary:focus-visible {
  background-color: hsl(12, 88%, 75%);
}
.btn--white {
  color: hsl(12, 88%, 59%);
  background-color: hsl(0, 0%, 98%);
}
.btn--white:hover, .btn--white:focus-visible {
  color: hsl(12, 88%, 75%);
}

.slider {
  display: flex;
  list-style: none;
  padding-block: 5rem;
  padding-top: 9rem;
  overflow-x: hidden;
  gap: 2.5rem;
  margin-left: -8rem;
}
@media only screen and (max-width: 67em) {
  .slider {
    scroll-padding-inline: 30px;
    margin-left: -4rem;
  }
}
@media only screen and (max-width: 30.5em) {
  .slider {
    padding-top: 0;
  }
}
.slider > * {
  width: 34%;
  flex: 0 0 auto;
  position: relative;
}
@media only screen and (max-width: 50em) {
  .slider > * {
    width: 40%;
  }
}
.slider img {
  width: 7rem;
  position: relative;
  top: 1%;
  margin-inline: auto;
  transform: translateY(50%);
}
@media only screen and (max-width: 50em) {
  .slider img {
    width: 10rem;
  }
}
.slider-content {
  background: hsl(0, 0%, 97%);
  border-radius: 0.5rem;
  padding: 7rem 3rem 3rem;
}
@media only screen and (max-width: 67em) {
  .slider-content {
    padding: 6rem 2rem 3rem;
  }
}
@media only screen and (max-width: 50em) {
  .slider-content h3 {
    font-size: 2rem;
  }
}

.a11y-slider-dots {
  display: flex;
  justify-content: center;
  margin-block: var(--size-500);
  gap: var(--size-300);
}
.a11y-slider-dots li {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
}
.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  background: transparent;
  border: 1px solid hsl(12, 88%, 59%) !important;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.a11y-slider-dots li button.active {
  background: hsl(12, 88%, 59%);
}

.a11y-slider-status {
  display: none;
}

.section--hero__blob-image::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 44%;
  max-height: 65vh;
  z-index: -1;
  aspect-ratio: 1/1.2;
  background-image: url(../../images/bg-tablet-pattern.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 75em) {
  .section--hero__blob-image::before {
    width: 39%;
    zoom: 77%;
  }
}
@media only screen and (max-width: 50em) {
  .section--hero__blob-image::before {
    zoom: 70%;
    max-height: 100vh;
    aspect-ratio: 1;
    width: 66%;
  }
}
@media only screen and (max-width: 30.5em) {
  .section--hero__blob-image::before {
    zoom: 50%;
    width: 75%;
  }
}
@media only screen and (max-width: 50em) {
  .section--hero__blob-image {
    order: -1;
  }
}
@media only screen and (max-width: 50em) {
  .section--hero__blob-image .section--image {
    width: 75%;
    margin-inline: auto;
  }
}

.numbered-items {
  counter-reset: count;
}
@media only screen and (max-width: 50em) {
  .numbered-items {
    padding-block-start: 7rem;
  }
}
.numbered-items li {
  counter-increment: count;
}
.numbered-items div {
  display: grid;
  position: relative;
  align-items: center;
  column-gap: var(--size-300);
  grid-template-columns: min-content 1fr;
}
.numbered-items p {
  grid-column: 2/-1;
}
@media only screen and (max-width: 50em) {
  .numbered-items p {
    grid-column: 1/-1;
  }
}
.numbered-items h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  line-height: 1;
}
@media only screen and (max-width: 50em) {
  .numbered-items h3 {
    font-size: 1.8rem;
  }
}
.numbered-items div::before {
  content: "0" counter(count);
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 98%);
  background-color: hsl(12, 88%, 59%);
  font-weight: var(--fw-lg);
  padding: 0 1.5em;
  height: 40px;
  border-radius: 100vw;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media only screen and (max-width: 50em) {
  .numbered-items div::before {
    padding: 1.5em 2em;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 50em) {
  .numbered-items div::after {
    content: "";
    display: block;
    z-index: -1;
    background: hsl(13, 100%, 96%);
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 40px;
    box-shadow: 5em 0 0 hsl(13, 100%, 96%);
    border-radius: 100vw;
  }
}

.footer {
  padding-block: 6rem;
  --logo-color: hsl(0 0% 98%);
  color: hsl(0, 0%, 98%);
}
.footer--wrapper {
  display: grid;
  padding-inline: 4rem;
  grid-template-areas: "logo-social nav form" "logo-social nav copyright";
}
@media only screen and (max-width: 50em) {
  .footer--wrapper {
    grid-template-areas: "form" "nav" "logo-social" "copyright";
    gap: 4rem;
    justify-content: center;
  }
}
.footer--wrapper .nav {
  grid-area: nav;
}
.footer--copyright {
  grid-area: copyright;
  font-size: 1rem;
  justify-self: end;
  align-self: end;
  opacity: 0.7;
}
@media only screen and (max-width: 50em) {
  .footer--copyright {
    justify-self: center;
  }
}
@media only screen and (max-width: 50em) {
  .footer .even-columns {
    gap: 5rem;
  }
}
.footer__logo-social {
  grid-area: logo-social;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (max-width: 50em) {
  .footer__logo-social {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.footer--social-link {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 50em) {
  .footer--social-link {
    gap: 3rem;
  }
}
@media only screen and (max-width: 17.5em) {
  .footer--social-link {
    gap: 1rem;
  }
}
.footer--social-link--social-icon {
  width: var(--size-400);
  aspect-ratio: 1;
  fill: hsl(0, 0%, 98%);
}
@media only screen and (max-width: 50em) {
  .footer--social-link--social-icon {
    width: var(--size-700);
  }
}
@media only screen and (max-width: 17.5em) {
  .footer--social-link--social-icon {
    width: var(--size-500);
  }
}
.footer--social-link a:where(:hover, :focus) .footer--social-link--social-icon {
  fill: hsl(12, 88%, 59%);
}
.footer--nav {
  columns: 2;
  gap: 3rem;
}
@media only screen and (max-width: 50em) {
  .footer--nav {
    gap: 6rem;
  }
}
.footer--nav__list a {
  color: hsl(0, 0%, 98%);
  text-decoration: none;
}
.footer--nav__list a:where(:hover, :focus) {
  color: hsl(12, 88%, 75%);
}
@media only screen and (max-width: 50em) {
  .footer--nav__list a {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 17.5em) {
  .footer--nav__list a {
    font-size: 1.5rem;
  }
}
.footer--form {
  display: grid;
  justify-content: end;
  align-content: space-between;
  grid-area: form;
}
.footer .form {
  display: flex;
  gap: 2rem;
}
.footer input:where([type=email], [type=text]) {
  border-radius: 100vw;
  outline: none;
  padding: var(--size-400) var(--size-700);
  border: 0;
}
@media only screen and (max-width: 50em) {
  .footer input:where([type=email], [type=text]) {
    padding: var(--size-200) var(--size-600);
  }
}
@media only screen and (max-width: 17.5em) {
  .footer input:where([type=email], [type=text]) {
    padding: var(--size-100);
  }
}

.header {
  padding-top: var(--size-700);
}
@media only screen and (max-width: 50em) {
  .header {
    padding-top: 8rem;
  }
}
.header .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 50em) {
  .header .nav-wrapper .btn {
    display: none;
  }
}
@media only screen and (max-width: 50em) {
  .header .nav-wrapper {
    padding-inline: 3rem;
  }
}
.header .mobile-nav-toggle {
  position: fixed;
  top: 8rem;
  right: 4rem;
  z-index: 10;
  border: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0.6rem;
  display: none;
  width: 3rem;
  aspect-ratio: 1;
  background-image: url(../../images/icon-hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header .mobile-nav-toggle[aria-expanded=true] {
  background-image: url(../../images/icon-close.svg);
}
.header .mobile-nav-toggle:focus, .header .mobile-nav-toggle:active {
  outline: 2px solid white;
}
@media only screen and (max-width: 50em) {
  .header .mobile-nav-toggle {
    display: block;
  }
}
.header .nav__list {
  display: flex;
  gap: clamp(var(--size-500), 5vw, var(--size-800));
  font-weight: var(--fw-md);
}
@media only screen and (max-width: 50em) {
  .header .nav__list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-lg);
  }
}
.header .nav__list a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-size: 1.7rem;
}
.header .nav__list a:hover, .header .nav__list a:focus {
  color: hsl(227, 12%, 55%);
}
.header .nav[data-visible] {
  display: block;
}
@media only screen and (max-width: 50em) {
  .header .nav {
    display: none;
    position: fixed;
    inset: 11.2rem var(--size-400) auto;
    background: hsl(0, 0%, 98%);
    padding: var(--size-700);
    margin-inline: auto;
    z-index: 999;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    max-width: 35rem;
  }
}
.header[data-overlay] {
  position: relative;
  z-index: 999;
}
.header[data-overlay]::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.section {
  padding-block: var(--size-900);
}
.section--hero {
  padding-top: 7rem;
}
.section--hero h1 {
  max-width: 16ch;
}
.section--manage {
  padding-top: 7rem;
}
@media only screen and (max-width: 50em) {
  .section--manage {
    padding-block: 9rem;
  }
}
.section--manage h2 {
  max-width: 18ch;
}
@media only screen and (max-width: 50em) {
  .section--manage h2 {
    font-size: 5rem;
    max-width: 15ch;
    margin-inline: auto;
  }
}
.section--manage h2::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: -20%;
  width: 70%;
  height: 100%;
  z-index: -1;
  aspect-ratio: 1;
  zoom: 75%;
  background-image: url(../../images/bg-tablet-pattern.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 75em) {
  .section--manage h2::before {
    bottom: -120%;
    zoom: 70%;
  }
}
@media only screen and (max-width: 67em) {
  .section--manage h2::before {
    bottom: -75%;
    zoom: 60%;
  }
}
@media only screen and (max-width: 50em) {
  .section--manage h2::before {
    display: none;
  }
}
@media only screen and (max-width: 50em) {
  .section--carousel .btn {
    margin-top: 3rem;
  }
}
.section--cta {
  margin-block-start: 6rem;
  padding-block: 6rem;
  position: relative;
  isolation: isolate;
}
.section--cta p {
  max-width: 21ch;
}
@media only screen and (max-width: 50em) {
  .section--cta p {
    justify-self: center;
    font-size: 5rem;
    max-width: 12ch;
  }
}
@media only screen and (max-width: 50em) {
  .section--cta .cta-button {
    justify-self: center;
    padding-block: 4rem;
  }
}
.section--cta::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url(../../images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-position: 120% 100%;
}
@media only screen and (max-width: 75em) {
  .section--cta::before {
    background-position: -50% 100%;
  }
}
@media only screen and (max-width: 50em) {
  .section--cta::before {
    background-position: 29%;
  }
}

.text-primary-dark {
  color: hsl(228, 39%, 23%);
}

.text-accent-dark {
  color: hsl(12, 88%, 59%);
}

.text-accent-light {
  color: hsl(13, 100%, 96%);
}

.text-neutral-light {
  color: hsl(0, 0%, 98%);
}

.text-neutral-dark {
  color: hsl(233, 12%, 13%);
}

.bg-primary-dark {
  background-color: hsl(228, 39%, 23%);
}

.bg-accent-dark {
  background-color: hsl(12, 88%, 59%);
}

.bg-accent-light {
  background-color: hsl(13, 100%, 96%);
}

.bg-neutral-light {
  background-color: hsl(0, 0%, 98%);
}

.bg-neutral-dark {
  background-color: hsl(233, 12%, 13%);
}

.fw-sm {
  font-weight: var(--fw-sm);
}

.fw-md {
  font-weight: var(--fw-md);
}

.fw-lg {
  font-weight: var(--fw-lg);
}

.fs-primary-heading {
  font-size: 4rem;
  line-height: 1.1;
}
@media only screen and (max-width: 50em) {
  .fs-primary-heading {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 30.5em) {
  .fs-primary-heading {
    line-height: 1.3;
  }
}

.fs-secondary-heading {
  font-size: 3rem;
  line-height: 1.1;
}
@media only screen and (max-width: 50em) {
  .fs-secondary-heading {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 30.5em) {
  .fs-secondary-heading {
    line-height: 1.3;
  }
}

.fs-300 {
  font-size: 1.3rem;
}

.fs-400 {
  font-size: 1.4rem;
}

.fs-500 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.attribution {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  --max-width: 1110px;
  --padding: 1.6rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flow * + * {
  margin-top: var(--flow-space, 2.4em);
}

.even-columns {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.even-columns--vertical-center {
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .even-columns {
    grid-auto-flow: row;
    justify-items: center;
    text-align: center;
  }
}

.cta-button {
  justify-self: end;
}

/*# sourceMappingURL=style.css.map */
