// colors

$color-accent-light: hsl(13, 100%, 96%);
$color-accent-dark: hsl(12, 88%, 59%);
$color-accent-dark-2: hsl(12, 88%, 40%);
$color-accent-mild: hsl(12, 88%, 75%);

$color-primary-dark: hsl(228, 39%, 23%);
$color-primary-light: hsl(227, 12%, 55%);

$color-neutral-dark: hsl(233, 12%, 13%);
$color-neutral-mild: hsl(0 0% 97%);
$color-neutral-light: hsl(0 0% 98%);

// fonts

$fs-default: 1.6rem;
$fs-300: 1.3rem;
$fs-400: 1.4rem;
$fs-450: 1.5rem;
$fs-600-1: 3rem;
$fs-500: 2rem;
$fs-700-1: 4rem;

$fs-600-2: 4rem;
$fs-700-2: 5.6rem;
