.numbered-items {
  counter-reset: count;

  @media only screen and (max-width: $bp-phone-lg) {
    padding-block-start: 7rem;
  }

  & li {
    counter-increment: count;
  }
  & div {
    display: grid;
    position: relative;
    align-items: center;
    column-gap: var(--size-300);
    grid-template-columns: min-content 1fr;
  }

  & p {
    grid-column: 2 / -1;

    @media only screen and (max-width: $bp-phone-lg) {
      grid-column: 1 / -1;
    }
  }

  & h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    line-height: 1;

    @media only screen and (max-width: $bp-phone-lg) {
      font-size: 1.8rem;
    }
  }

  & div::before {
    content: "0" counter(count);
    display: flex;
    align-items: center;
    color: $color-neutral-light;
    background-color: $color-accent-dark;
    font-weight: var(--fw-lg);
    padding: 0 1.5em;
    height: 40px;
    border-radius: 100vw;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @media only screen and (max-width: $bp-phone-lg) {
      padding: 1.5em 2em;
      font-size: 2rem;
    }
  }

  // this is for small screen
  & div::after {
    @media only screen and (max-width: $bp-phone-lg) {
      content: "";
      display: block;
      z-index: -1;
      background: $color-accent-light;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      height: 40px;
      box-shadow: 5em 0 0 $color-accent-light;
      border-radius: 100vw;
    }
  }
}
