.header {
  padding-top: var(--size-700);

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-nav-toggle {
    position: fixed;
    top: 3rem;
    right: 2rem;

    border: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.6rem;

    display: none;

    width: 1.5rem;
    aspect-ratio: 1;
    background-image: url(../../images/icon-hamburger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &[aria-expanded="true"] {
      background-image: url(../../images/icon-close.svg);
    }

    // mobile
  }

  // .icon-close {
  //   display: none;
  // }

  .nav {
    &__list {
      display: flex;
      gap: clamp(var(--size-500), 5vw, var(--size-800));
      font-weight: var(--fw-md);
    }

    &__list a {
      text-decoration: none;
      color: $color-primary-dark;
    }

    &__list a:hover,
    &__list a:focus {
      color: $color-primary-light;
    }
  }
}
